<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./main.component.css" type="text/css">
        <title>The Case 2.0</title>
    </head>
    <body>
       <div class="contenedor-global" id="contenedor-global">
        <div class="textoJuego" id="textoJuego">
            texto del juego
        </div>
        <div class="misNotas" id="misNotas">
            mis notas
        </div>
        <app-ventana-ranking class="ranking" id="ranking">
          ranking
        </app-ventana-ranking>
        <app-ventana-juego class="juego" id="juego"></app-ventana-juego>

        <div class="cabecera oscurecer" id="cabecera">
          <header>

          </header>
        </div>
        <div class="cuerpo oscurecer" id="cuerpo">
            <app-home-imagenes class="cuerpo-uno"></app-home-imagenes>
            <app-home-menu class="cuerpo-dos"></app-home-menu>
        </div>
        <div class="pie oscurecer" id="pie">
            <p class="footer">&copy; 2023 The Case 2.0</p>
        </div>
       </div>
    </body>
</html>
