@import '../../assets/css/animaciones.css';
@import '../ventana-juego/ventana-juego.component.css';

.contenedor-global{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(50, 2vh);
  grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  background-color: black;

}

.footer{
  font-size: 15px;
  color: white;
  text-align: center;
  padding-top: 30px;
}

header{
  font-size: 20px;
  text-align: center;
  padding-top: 30px;

}

.cabecera{
  grid-area: "header";
  grid-column: 1/50;
  grid-row: 1/6;
  background-color: pink;
  opacity: 1;
}

.pie{
  grid-area: "footer";
  grid-column: 1/50;
  grid-row: 47/51;
  background-color: blue;
}

.cuerpo{
  grid-area: "main";
  grid-column: 1/50;
  grid-row: 6/45;
  background-color: yellow;;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);

}

.cuerpo-uno{
  grid-column: 1/14;
  grid-row: 1/21;
  background-color: green;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);


}

.cuerpo-dos{
  grid-column: 14/21;
  grid-row: 1/21;
  background-color: red;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
}

.ranking{
  grid-column: 5/17;
  grid-row: 9/42;
  background-color: black;
  z-index: 1;
  display: none;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  border: 1px solid white;
  /* background-image: url('../../assets/img/fondos/home/fondo_ranking.jpg'); */
  border-radius: 20px 20px;
}

.textoJuego{
  grid-column: 7/15;
  grid-row: 43/49;
  background-color: lightcyan;
  z-index: 1;
  display: none;
  border-radius: 20px 20px;
  border: 1px solid white;
}

.misNotas{
  grid-column: 6/16;
  grid-row: 1/8;
  background-color: lightcyan;
  z-index: 1;
  display: none;
  border-radius: 20px 20px;
  border: 1px solid white;
}

#menu-principal{
  grid-column: 15/20;
  grid-row: 15/20;
  background-color: aliceblue;
  z-index: 5;
  padding: 5px;
}

a{
  color: white;
  text-decoration: none;
}

li{
  list-style: none;
  display: inline;
  margin: 25px;
}

#boton-juego, #boton-ranking{
  padding: 15px;
  border-radius: 20px 20px;
  border-color: white;
}


