@keyframes moverFondo {
  from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
}

@keyframes cambiarImagenDeFondo {
  0% {
    background-image: url('../img/personajes/Doctor_X/doctor.png');
  }
  35% {
    background-image: url('../img/personajes/Emily_Yang/emily.png');
  }
  70% {
    background-image: url('../img/personajes/Ethan_Valdez/ethan.png');
  }
  100% {
    background-image: url('../img/personajes/Mei_Chen/mei.png');
  }
  70% {
    background-image: url('../img/personajes/Noah_Rios/noah.png');
  }
  35% {
    background-image: url('../img/personajes/Vicky_Peña/vicky.png');
  }
  0% {
    background-image: url('../img/personajes/Isa_Cortés/isa.png');
  }
}

@keyframes colorBorde{
  0% {
      box-shadow: 0px 5px 20px lightcoral;
  }
  50%{
      box-shadow: 0px 5px 25px lightcoral;
  }
  100% {
      box-shadow: 0px 5px 170px lightcoral;
  }
  50%{
      box-shadow: 0px 5px 25px lightcoral;
  }
  0% {
      box-shadow: 0px 5px 20px lightcoral;
  }
}


@keyframes abrirDivs {
  from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes moverPersonajeDer {
  from {
      top: 3px;
      left: 100px;
    }
    to {
      top: 3px;
      left:500px;
    }
}

@keyframes moverPersonajeIzq {
  from {
      top: 3px;
      left: 500px;
    }
    to {
      top: 3px;
      left:100px;
    }
}

@keyframes verBtnPregIzq {
  from {
      opacity: 0.1;
    }
    to {
      opacity: 0.8;
    }
}

@keyframes oscurecerFondo {
  from {
      opacity: 1;
    }
    to {
      opacity: 0.6;
    }
}


