<div class="menu-principal">
  <nav>
      <ul>
          <li><button (click)="verJuego()" id="boton-juego">Jugar</button></li>
          <li><button (click)="verRanking()" id="boton-ranking">Ranking</button></li>
      </ul>
  </nav>
</div>
<div class="titulo">titulo</div>
<div class="imagen-home" id="imagen-home">imagen-home</div>

<div class="form-registro" id="form-registro" style="display: none">
    Formulario Registro
</div>
<div class="form-login" id="form-login" style="display: none">
    Formulario Login
</div>
