
<!-- {{-- ---------------- IMAGENES PERSONAJES -----------------------------------------  --}} -->
<img [src]="arrayPersonajes[0].imagen" alt="" class="personaje personajeDer" id="guia">
<img [src]="arrayPersonajes[1].imagen" alt="" class="personaje personajeDer" id="doctor_x">
<img [src]="arrayPersonajes[2].imagen" alt="" class="personaje personajeDer" id="emily">
<img [src]="arrayPersonajes[3].imagen" alt="" class="personaje personajeIzq" id="isa">
<img [src]="arrayPersonajes[4].imagen" alt="" class="personaje personajeIzq" id="mei">
<img [src]="arrayPersonajes[5].imagen" alt="" class="personaje personajeIzq" id="vicky">

<!-- {{-- ---------------- IMAGENES OBJETOS -----------------------------------------  --}} -->

<img [src]="datos.imgObjetos[0]" alt="" class="objetos" id="object1">
<img [src]="datos.imgObjetos[1]" alt="" class="objetos" id="object2">
<img [src]="datos.imgObjetos[2]" alt="" class="objetos" id="object3">
<img [src]="datos.imgObjetos[3]" alt="" class="objetos" id="object4">
<img [src]="datos.imgObjetos[4]" alt="" class="objetos" id="object5">
<img [src]="datos.imgObjetos[5]" alt="" class="objetos" id="object6">

<!-- {{-- -------------------------------------------------- BOTONES --------------------------------------  --}} -->

<!-- {{-- ---------------- BOTONES HALL -----------------------------------------  --}} -->
<button class="btn btnsHall" (click)="verJuego()" id="salirJuego">SALIR</button>
<button class="btn btnsHall" (click)="verEstancia('hab1')" id="hab1">!</button>
<button class="btn btnsHall" (click)="verEstancia('hab2')" id="hab2">!</button>
<button class="btn btnsHall" (click)="verEstancia('hab3')" id="hab3">!</button>
<button class="btn btnsHall" (click)="verEstancia('hab4')" id="hab4">!</button>
<button class="btn btnsHall" (click)="verEstancia('hab5')" id="hab5">!</button>
<button class="btn btnsHall" (click)="verEstancia('hab6')" id="hab6">!</button>

<!-- {{-- ---------------- BOTONES HAB1 -----------------------------------------  --}} -->

<button class="btn btnsHab1 volverHall" (click)="verEstancia('hall')" id="volverHallIzq"><-</button>
<button class="btn btnsHab1 npc" (click)="verPersonaje(0)" id="npcDer">?</button>
<button class="btn btnsHab1 objeto" (click)="verObjeto(0)" id="objetoHab1"></button>

<button class="btnPregIzq btnPreg1 pregunta" (click)="respuestasPersonaje(0, arrayEstancias, 'nombre')" id="btnPregNombreDer">¿Como te llamas?</button>
<button class="btnPregIzq btnPreg1 pregunta" (click)="respuestasPersonaje(0, arrayEstancias, 'coartada')" id="preguntaCoartadaDer">¿Dónde te encontrabas en el momento de los hechos?</button>
<button class="btnPregIzq btnPreg1 pregunta" (click)="respuestasPersonaje(0, arrayEstancias, 'acusar')" id="preguntaAcusacionDer">¿Viste a alguien sospechoso?</button>

<!-- {{-- ---------------- BOTONES HAB2 -----------------------------------------  --}} -->

<button class="btn btnsHab2 volverHall" (click)="verEstancia('hall')" id="volverHallIzq"><-</button>
<button class="btn btnsHab2 npc" (click)="verPersonaje(1)" id="npcDer">?</button>
<button class="btn btnsHab2 objeto" (click)="verObjeto(1)" id="objetoHab2"></button>


<button class="btnPregIzq btnPreg2 pregunta" (click)="respuestasPersonaje(1, arrayEstancias, 'nombre')" id="btnPregNombreDer">¿Como te llamas?</button>
<button class="btnPregIzq btnPreg2 pregunta" (click)="respuestasPersonaje(1, arrayEstancias, 'coartada')" id="preguntaCoartadaDer">¿Dónde te encontrabas en el momento de los hechos?</button>
<button class="btnPregIzq btnPreg2 pregunta" (click)="respuestasPersonaje(1, arrayEstancias, 'acusar')" id="preguntaAcusacionDer">¿Viste a alguien sospechoso?</button>

<!-- {{-- ---------------- BOTONES HAB3 -----------------------------------------  --}} -->

<button class="btn btnsHab3 volverHall" (click)="verEstancia('hall')" id="volverHallIzq"><-</button>
<button class="btn btnsHab3 npc" (click)="verPersonaje(2)" id="npcDer">?</button>
<button class="btn btnsHab3 objeto" (click)="verObjeto(2)" id="objetoHab3"></button>


<button class="btnPregIzq btnPreg3 pregunta" (click)="respuestasPersonaje(2, arrayEstancias, 'nombre')" id="btnPregNombreDer">¿Como te llamas?</button>
<button class="btnPregIzq btnPreg3 pregunta" (click)="respuestasPersonaje(2, arrayEstancias, 'coartada')" id="preguntaCoartadaDer">¿Dónde te encontrabas en el momento de los hechos?</button>
<button class="btnPregIzq btnPreg3 pregunta" (click)="respuestasPersonaje(2, arrayEstancias, 'acusar')" id="preguntaAcusacionDer">¿Viste a alguien sospechoso?</button>

<!-- {{-- ---------------- BOTONES HAB4 -----------------------------------------  --}} -->

<button class="btn btnsHab4 volverHall" (click)="verEstancia('hall')" id="volverHallDer">-></button>
<button class="btn btnsHab4 npc" (click)="verPersonaje(3)" id="npcIzq">?</button>
<button class="btn btnsHab4 objeto" (click)="verObjeto(3)" id="objetoHab4"></button>

<button class="btnPregDer btnPreg4 pregunta" (click)="respuestasPersonaje(3, arrayEstancias, 'nombre')" id="btnPregNombreIzq">¿Como te llamas?</button>
<button class="btnPregDer btnPreg4 pregunta" (click)="respuestasPersonaje(3, arrayEstancias, 'coartada')" id="preguntaCoartadaIzq">¿Dónde te encontrabas en el momento de los hechos?</button>
<button class="btnPregDer btnPreg4 pregunta" (click)="respuestasPersonaje(3, arrayEstancias, 'acusar')" id="preguntaAcusacionIzq">¿Viste a alguien sospechoso?</button>

<!-- {{-- ---------------- BOTONES HAB5 -----------------------------------------  --}} -->

<button class="btn btnsHab5 volverHall" (click)="verEstancia('hall')" id="volverHallDer">-></button>
<button class="btn btnsHab5 npc" (click)="verPersonaje(4)" id="npcIzq">?</button>
<button class="btn btnsHab5 objeto" (click)="verObjeto(4)" id="objetoHab5"></button>

<button class="btnPregDer btnPreg5 pregunta" (click)="respuestasPersonaje(4, arrayEstancias, 'nombre')" id="btnPregNombreIzq">¿Como te llamas?</button>
<button class="btnPregDer btnPreg5 pregunta" (click)="respuestasPersonaje(4, arrayEstancias, 'coartada')" id="preguntaCoartadaIzq">¿Dónde te encontrabas en el momento de los hechos?</button>
<button class="btnPregDer btnPreg5 pregunta" (click)="respuestasPersonaje(4, arrayEstancias, 'acusar')" id="preguntaAcusacionIzq">¿Viste a alguien sospechoso?</button>

<!-- {{-- ---------------- BOTONES HAB6 -----------------------------------------  --}} -->

<button class="btn btnsHab6 volverHall" (click)="verEstancia('hall')" id="volverHallDer">-></button>
<button class="btn btnsHab6 npc" (click)="verPersonaje(5)" id="npcIzq">?</button>
<button class="btn btnsHab6 objeto" (click)="verObjeto(5)" id="objetoHab6"></button>

<button class="btnPregDer btnPreg6 pregunta" (click)="respuestasPersonaje(5, arrayEstancias, 'nombre')" id="btnPregNombreIzq">¿Como te llamas?</button>
<button class="btnPregDer btnPreg6 pregunta" (click)="respuestasPersonaje(5, arrayEstancias, 'coartada')" id="preguntaCoartadaIzq">¿Dónde te encontrabas en el momento de los hechos?</button>
<button class="btnPregDer btnPreg6 pregunta" (click)="respuestasPersonaje(5, arrayEstancias, 'acusar')" id="preguntaAcusacionIzq">¿Viste a alguien sospechoso?</button>

