@import '../../assets/css/animaciones.css';

.img{
  background-color: beige;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-size: 120%;
  box-shadow: 0px 5px 20px lightcoral;
  border-radius: 20px 20px;
  background-size: cover;
}

.img1 {
  grid-column: 4/18;
  grid-row: 4/18;
  background-image: url("../../assets/img/fondos/home/intro_uno_hor.jpg");
  animation: moverFondo 40s infinite alternate, colorBorde 9s infinite alternate;

}

.img2 {
  grid-column: 8/13;
  grid-row: 2/6;
  background-image: url("../../assets/img/fondos/home/intro_dos_hor.jpg");
  animation: moverFondo 30s infinite alternate;
}

.img3 {
  grid-column: 3/6;
  grid-row: 10/19;
  background-image: url("../../assets/img/fondos/home/intro_dos_ver.jpg");
  animation: moverFondo 25s infinite alternate;
}

.img4 {
  grid-column: 2/7;
  grid-row: 6/10;
  background-image: url("../../assets/img/fondos/home/intro_tres_hor.jpg");
  animation: moverFondo 20s infinite alternate;
}

.img5 {
  grid-column: 5/8;
  grid-row: 1/8;
  background-image: url("../../assets/img/fondos/home/intro_uno_ver.jpg");
  animation: moverFondo 15s infinite alternate;
}

.img6{
  grid-column: 10/19;
  grid-row: 15/19;
  padding: 20px;
  background-image: url("../../assets/img/fondos/home/fondo.jpg");
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

