<button (click)="verRanking()" id="salirJuego">SALIR</button>
<table id="rankingGlobal">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>TIEMPO</th>
      <th>CULPABLE</th>
    </tr>
  </thead>
  <tbody>
    <tr id="primero">
      <td>{{ rankingArray[0]?.nombre }}</td>
      <td>{{ rankingArray[0]?.tiempo }}</td>
      <td>{{ rankingArray[0]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[1]?.nombre }}</td>
      <td>{{ rankingArray[1]?.tiempo }}</td>
      <td>{{ rankingArray[1]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[2]?.nombre }}</td>
      <td>{{ rankingArray[2]?.tiempo }}</td>
      <td>{{ rankingArray[2]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[3]?.nombre }}</td>
      <td>{{ rankingArray[3]?.tiempo }}</td>
      <td>{{ rankingArray[3]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[4]?.nombre }}</td>
      <td>{{ rankingArray[4]?.tiempo }}</td>
      <td>{{ rankingArray[4]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[5]?.nombre }}</td>
      <td>{{ rankingArray[5]?.tiempo }}</td>
      <td>{{ rankingArray[5]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[6]?.nombre }}</td>
      <td>{{ rankingArray[6]?.tiempo }}</td>
      <td>{{ rankingArray[6]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[7]?.nombre }}</td>
      <td>{{ rankingArray[7]?.tiempo }}</td>
      <td>{{ rankingArray[7]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[8]?.nombre }}</td>
      <td>{{ rankingArray[8]?.tiempo }}</td>
      <td>{{ rankingArray[8]?.culpable }}</td>
    </tr>
    <tr>
      <td>{{ rankingArray[9]?.nombre }}</td>
      <td>{{ rankingArray[9]?.tiempo }}</td>
      <td>{{ rankingArray[9]?.culpable }}</td>
    </tr>
  </tbody>
</table>
